body { background: #b51e86; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 18px; display: flex; }
.block-cluster-0 { color: #7dc7af; font-size: 19px; margin-bottom: 5px; }
.block-search-1 { color: #a8dc81; font-size: 21px; margin-bottom: 5px; }
.block-payment-2 { color: #c168f1; font-size: 18px; margin-bottom: 5px; }
.block-validator-3 { color: #6108a0; font-size: 13px; margin-bottom: 5px; }
.block-cart-4 { color: #dc215d; font-size: 21px; margin-bottom: 5px; }
.block-auth-5 { color: #a49cb2; font-size: 19px; margin-bottom: 5px; }